.custom {
    color: rgb(255, 255, 255);
    transition: all 0.2s linear;
  }
  
.custom:hover { color: #FFFF00; }
.dropdown-item{
   
    color: rgb(255, 255, 255) !important;
    transition: all 0.2s linear;
  }
.dropdown-item:hover { color: #FFFF00 !important;
background-color: #262f43 !important; }